<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- USB host là tùy chọn để không chặn máy không có USB host -->
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />

    <application>
        <!-- Khai báo device filter để hệ thống nhận diện VID/PID -->
        <meta-data
            android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
            android:resource="@xml/device_filter" />
    </application>
</manifest>
